{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 51.547383768498555,
    "longitude": -0.18983466317877176,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Home",
    "time_zone": "Europe/London",
    "external_url": null,
    "internal_url": null,
    "currency": "GBP"
  }
}