#       ___ ___ _____ ___ ___ _  _  ___  ___ ___ 
#      / __|_ _|_   _|_ _/ __| \| |/ _ \| _ \ __|
#  _  | (_ || |  | |  | | (_ | .` | (_) |   / _| 
# (_)  \___|___| |_| |___\___|_|\_|\___/|_|_\___|
#                                                
#--FROM https://github.com/smcnab1/op-question-mark

# Ignore Files
rtsp2webrtc_v5_aarch64
adbkey
adbkey.pub
frigate.yml
govee_learning.yaml
home-assistant-voice-node-red-f2d0ad06ea63.json
nodered.json
watchman_report.txt
WiFiLogin_1.png
WiFiLogin.png
.vscode
.theia
.Trash*
.ssh
.cloud
.storage
.shopping_list.json
aircast.xml
airsonos.xml
notebooks
core
image
ip_bans.yaml
secrets.yaml
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Ignore Directories
node-red/
.old_config
custom_components
themes
www/
esphome/.*/
blueprints/*/homeassistant
.cloud
.storage
deps

# Keep Directories
!.gitkeep

# Keep Files
!custom_components/telegram_bot_conversation